<div class="container">
	<!-- <div id="chart" style="width: 540px; margin: 0 auto;" carrier-chart="phones | filter: carrierFilter"></div> -->
	<div id="searchControls" style="width: 540px; margin: 0 auto;">
		Search: <input style="display: block;" class="input-xxlarge" typeahead>
		Sort by: <select style="display: block;" ng-model="$parent.orderProp">
		<option value="name">Alphabetical</option>
		<option value="age">Newest</option>
	</select>	
	</div>

	<div class="accordion" id="phoneAccordion">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
					data-parent="#phoneAccordion" href="#collapse-carriers">Carrier</a>
			</div>
			<div id="collapse-carrier" class="accordion-body collapse in" category-accordion="carriers | filter: carrierFilter" next-category="phone">
				<div class="accordion-inner">
					<a ng-repeat="carrier in carriers | filter: carrierFilter" style="display: block">{{carrier.val}}</a>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse"
					data-parent="#phoneAccordion" href="#collapse-phone">Phone</a>
			</div>
			<div id="collapse-phone" class="accordion-body collapse">
				<div class="accordion-inner">
					<a ng-repeat="phone in phones | filter: phoneFilter | orderBy: orderProp" style="display: block">{{phone.name}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal hide" id="phoneDetail"></div>
