<div class="container">
	<!-- <div id="chart" style="width: 540px; margin: 0 auto;" carrier-chart="phones | filter: carrierFilter"></div> -->
	<div id="searchControls" style="width: 280px; margin: 0 auto;">
		<input search-typeahead style="display: block;" class="input-xlarge" placeholder="Search for a part, serial, or model number...">
	</div>
	<div style="position: relative; height: 35px">
		<input ng-model="current_category.filter" category-typeahead id="filter" style="display: block; position: absolute; right: 0px" class="input-large" placeholder="Filter">
	</div>
	<div class="accordion" id="accordion">
		<div class="accordion-group" ng-repeat="category in categories">
			<div class="accordion-heading">
				<a class="close hide" href="#" clear-category="{{$index}}">×</a>
				<a class="accordion-toggle" href="#collapse-{{category.title}}">{{category.displayName()}}</a>
			</div>
			<div id="collapse-{{category.title}}" class="accordion-body collapse" ng-class="{in:$first}">
				<div class="accordion-inner row-fluid">
					<ul class="{{category.displayType}}">
						<li ng-class="{span4:category.displayType == 'thumbnails'}"
							ng-repeat="item in category.items | filter: category.filter | categoryFilter : category">
							<a category-item-click="{{category.items.indexOf(item)}}" next-category="{{$parent.$index + 1}}"
								ng-switch on="category.displayType">
								<img ng-switch-when="thumbnails" ng-src="{{item.imageUrl}}">
								<span ng-switch-when="list">{{item[category.displayProp]}}</span>
							</a>
							<div class="caption" ng-show="category.displayType == 'thumbnails'">
								<p>{{item[category.displayProp]}}</p>									
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal hide" id="phoneDetail"></div>
